@import "../../../../assets/scss/all.scss";

.PaginationLink {
  vertical-align: middle;
  line-height: 3rem;
  font-family: $head-font-family;
  display: inline-block;
  height: 3rem;
  margin: 0 0.2rem;
  padding: 0 0.5rem;
  background-color: #393939;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background-color: $colour-primary;
  }
}
